body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
header{
    background-color:#00FFFF;
    color:#fff;
    height:90px
}
.header-logo{
    font-size:36px;
    float:left;
    padding:20px 40px;
}
.header-list{
    float:right;
    padding-right:40px;
    padding-left:40px
}
.header-list li{
    list-style: none;
}
.main{
    padding:100px 80px;
}
.container h3{
    font-size:140px;
    text-align: center;
}
.container p{
    font-size: 60px;
}
.container span{
    color:red;
}
.contents{
    padding:100px 80px;
    height: 500px;
}
.section-title{
    font-size:28px;
    margin-top:15px;
    padding-bottom:50px;
    border-bottom:2px solid #dee7ec;
}
.content-item{
    float:left;
    padding:0 40px 30px 40px;
}
.content-item p{
    font-size:24px;
    margin-top:30px;
}
.content-item img{
    height:150px;
    width:150px;
}
.contact-form{
    padding-bottom:100px;
    padding-right:80px;
    padding-left:80px;
}
.contact-form h3{
    font-size:28px;
}
input, textarea{
    font-size:18px;
    padding:20px;
    border:1px solid #dee7ec;
    margin-top: 10px;
    margin-bottom:30px;
    width:400px;
}
.contact-submit{
    background-color: #899ead;
    color:#dee7ec;
}
footer{
    height:120px;
    background-color: #2f5167;
    color:#fff;
    padding:40px;
}
.footer-logo{
    float:left;
    font-size:32px;
}
.footer-list{
    float:right;
}
.footer-list li{
    padding-bottom:20px;
}